@import '../config/layout'

.ui.grid > .row
    padding-bottom: 0px !important

body
    background-color: #eeeeee

.non-functionable-warning > .column
    height: 100vh
    width: 100vw
    display: flex !important
    align-items: center
    flex-direction: row

    & > p
        font-size: 25px
        width: 100%
        text-align: center

@media(min-width: #{$min-functionable-width})
    .non-functionable-warning
        display: none !important

@media(max-width: #{$min-functionable-width - 1})
    #app
        display: none
