@import '../config/layout'

#canvasContainer
    height: calc(100vh - #{$top-bar-height})
    left: 0
    bottom: 0
    width: 100vw
    position: fixed
    overflow-y: scroll
    padding: 0


#targetImage
    display: block
    width: $canvas-width
    position: relative
    margin-top: $image-margin-top
    margin-bottom: $image-margin-bottom
    box-shadow: 0 0 1em #aaaaaa
    left: calc((100vw - #{$canvas-width}) / 2)
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-user-drag: none
    user-drag: none
    -webkit-touch-callout: none

#canvas
    // pointer-events: none
    height: calc(100vh - #{$top-bar-height})
    position: fixed
    width: $canvas-width
    margin: 0 auto
    left: calc((100vw - #{$canvas-width}) / 2)
    z-index: 2
