@import '../config/layout'

$font-size: 40px

.command-panel
    opacity: 0.8
    font-family: 'monospace'
    font-size: $font-size
    text-align: center
    background-color: white
    border: #cccccc 1px solid

    position: fixed
    width: $command-panel-width
    left: calc((100vw - #{$command-panel-width}) / 2)
    bottom: $font-size
    padding: 15px 0
    z-index: 10000

    & > span.complete
        opacity: 0.3


