@import '../config/color'

.mode-indicator
  position: fixed
  bottom: 0
  left: 0
  pointer-events: none

  font-variant: small-caps
  font-weight: bold
  font-size: 30px
  margin: 0
  padding: 0 10px
  color: white
  background-color: black

  @each $name, $color in $colors
      &.#{$name}
          background-color: $color
          color: white
