@import '../config/layout'
@import '../config/color'

.tool-panel
    position: fixed
    z-index: 10001
    left: 0
    top: $top-bar-height + 40px
    height: calc(100vh - #{$top-bar-height + 40px})
    width: calc((90vh - #{$canvas-width}) / 2)

    & > .list-panel
        clear: both
        margin-bottom: 30px

        & .ui.pointing.label
            padding-left: 5px
            padding-right: 5px
            border-color: gray

        & > .ui.button
            white-space: nowrap
            margin: 0.3em 0 0.3em 1px
            border-top-left-radius: 3em
            border-top-right-radius: 10em
            border-bottom-right-radius: 10em
            border-bottom-left-radius: 3em

            &.labeled
                box-shadow: 0 0 0.2em black !important

            &.basic
                margin: 0.3em 0
                box-shadow: 0 0 0.3em gray !important
                border-top-left-radius: 0
                border-top-right-radius: 10em
                border-bottom-right-radius: 10em
                border-bottom-left-radius: 0
                padding-left: 1em

                @each $name, $color in $colors
                    &.#{$name}
                        box-shadow: 0 0 0.3em $color !important

            &::first-letter
                font-weight: bold
