.boundarylist-list-panel
  padding-left: 10px
  border-left: 8px solid black
  & > .node-info
    width: calc((100vw - 1440px) / 2)

    &:hover
      background-color: rgba(0, 0, 0, 0.1)
      cursor: pointer

    & > p
      white-space: nowrap
      margin-bottom: 5
    & > a
      white-space: nowrap
      margin-bottom: 5
